<!DOCTYPE html>
{% extends "fitit/base2.html" %} {%block body_block%}
<div class="container">
  <br>
  <br>
  <br>
  <br><br><br>
  <table class="table">
    <thead>
      <th>nr</th>
      <th>Termijn</th>
      <th>Intrest</th>
      <th>Kapitaal</th>
      <th>Schuld</th>
    </thead>

    {% for i in y %}
    <tbody>
      <td>{{i.id}}</td>
      <td>{{i.termijn}}</td>
      <td>{{i.intrest}}</td>
      <td>{{i.kapitaal}}</td>
      <td>{{i.schuld}}</td>
    </tbody>
    {% endfor %}
  </table>
  <a class="btn-secondary btn" href=" {% url 'fitit:horloges' %}">Terug naar Horloges</a>
</div>

{%endblock%}
