<!DOCTYPE html>
{% extends 'fitit/base2.html' %}

{% block body_block %}
{%load static%}
            <!-- end header inner -->
            <!-- end header -->
            <section class="slider_section">
               <div class="banner_main">
                  <div class="container">
                     <div class="row d_flex">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
                           <div class="text-bg">
                              <h1>Horloges</h1>
                              <span>Ons aanbod<br> 
                              <strong class="land_bold">Fit IT Horloges 2022</strong></span>
                              <a href="{% url 'fitit:test' %}#contact">Contact Us!</a>
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="text-img">
                              <figure><img src="{% static 'images/istockphoto-458689475-612x612.png' %} " /></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         
         </section>
         
         </div>
      </header>
      <!-- Best  -->
      <div id="jewellery" class="Best">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Mooiste horloges</h2>
                     <p> Hieronder kan je de horloges zien die we op onze site aanbieden:</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="best_main">
                     <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="best_text">
                              <p>
                                 De Day-Date was het eerste horloge dat de dag van de week volledig gespeld aangaf toen het voor het eerst werd gepresenteerd in 1956.
                                 De geribbelde bezel van Rolex is een teken van onderscheid. Oorspronkelijk had de cannelure van de Oyster bezel een functioneel doel: het diende om de bezel op de kast te schroeven en zo de waterdichtheid van het horloge te waarborgen.
                                 
                                 Het was daarom identiek aan de cannelures op de achterkant van de kast, die ook op de kast werd geschroefd voor waterdichtheid, met behulp van specifiek Rolex gereedschap. Na verloop van tijd werd de cannelure een esthetisch element, een echt Rolex-handtekeningkenmerk. Vandaag de dag is de cannelures bezel een teken van onderscheid, in goud op deze Day-Date 36.
                                </p>
                                <a href=" {% url 'fitit:horloges' %}">See More</a>
                           </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div class="best_img">
                              <h4><span class="bg-dark1">Rolex Edition Gold</span> </h4>
                              <figure><img src="{% static 'images/share-this-image-gold-rolex-watch-11563264484b8wgewlusc.png' %}"></figure>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="best_main">
                     <div class="row d_flex">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div class="best_img croos_rt">
                              <h4>Royal Oak Selfwinding</h4>
                              <figure><img src="{% static 'images/AP_15400_141.png' %}"></figure>
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="best_text flot_left">
                              <p>Bazel, april 1972: op de jaarlijkse Swiss Watch Show (later omgedoopt tot BaselWorld) introduceerde Audemars Piguet een luxe stalen horloge met geïntegreerde armband, gekenmerkt door een gedurfd en revolutionair design.  Na de aanvankelijke ontzetting van de markt, werd het horloge - de Royal Oak - een enorm internationaal succes en een van de meest iconische horloges ooit.</p>
                              <a href=" {% url 'fitit:horloges' %}">See More</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="best_main pa_bot">
                     <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="best_text">
                              <p>Dit 43 mm-horloge heeft een zwarte cd-afwerking, sunray wijzerplaat met grijze wijzerplaatjes, chronograaf uurwerk en zwart lederen band.</p>
                              <a href=" {% url 'fitit:horloges' %}">See More</a>
                           </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div class="best_img d_none">
                              <h4>Chronograph Black Leather Watch Armani</h4>
                              <figure><img src="{% static 'images/emporio-armani-ar11208.jpg' %}" ></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Best -->
      <!-- contact -->
      <div id="contact" class="contact">
         <div class="container mb-5">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Heb je een vraag? Laat het ons weten!</h2>
                     <p> In deze form kan je je vraag achterlaten en je persoonlijke gegevens. Dan gaan we hier zo snel mogelijk op antwoorden. </p>

                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                  <div class="contact">
                     <form>
                        <div class="row">
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="Name" type="text" name="Name">
                           </div>
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="Phone Number" type="text" name="Phone Number">
                           </div>
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="Email" type="text" name="Email">
                           </div>
                           <div class="col-sm-12">
                              <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                           </div>
                           <div class="col-sm-12">
                              <button class="send">Send</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                  <div class="rable-box">
                     <figure>
                     <img src="{% static 'images/GQ0422_WatchPackage_01.png' %} " alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
{% endblock %} 