<!DOCTYPE html>
{% extends 'fitit/base.html' %}
{% block body_block %}



<div class="jumbotron">
  <h1 class="test">Fit it</h1>
  <table class="table">
    <thead>
      <th>model</th>
      <th>materiaal</th>
      <th>prijs</th>
      <th>merk</th>
      <th>foto</th>
    </thead>

    {% for i in list %}
    <tbody>
      <td>{{i.model}}</td>
      <td>{{i.materiaal}}</td>
      <td>{{i.prijs}}</td>
      <td>{{i.merk}}</td>
      <td><img src="{{i.horloge_pic.url}}" alt="" href=""></td>
    </tbody>
    {% endfor %}
  </table>
</div>



{% endblock %}
