<!DOCTYPE html>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
{% extends 'fitit/base.html' %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}" />
{% block body_block %}



<div class="jumbotron">
  <h1 class="test">Fit it</h1>
  <table class="table">
    <thead>
      <th>model</th>
      <th>materiaal</th>
      <th>prijs</th>
      <th>merk</th>
    </thead>

    {% for i in list %}
    <tbody>
      <td>{{i.model}}</td>
      <td>{{i.materiaal}}</td>
      <td>{{i.prijs}}</td>
      <td>{{i.merk}}</td>
    </tbody>
    {% endfor %}
  </table>
</div>



{% endblock %}
