<!DOCTYPE html>
{% extends "fitit/base2.html" %} {%block body_block%}
<body id="login">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br><br>
  <div class="container">
    <h1>Aflos</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      {%csrf_token%}
      <div class="form-group">
        <label for="tijd">Tijd in maanden</label>
        <input class="form-control" type="number" name="tijd" id="tijd" />
      </div>

      <input class="btn-secondary btn" type="submit" name="koop" value="Toon Aflos" />
    </form>
  </div>
  <br><br>
  {%endblock%}
</body>
